<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/styleHead.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/welcomestyle.css') }}">
  <title>TreasureHunt</b></title>
</head>
<body>
  <html lang="en">
<head>

</head>
<body>

  <header>
		<a href="/" class="logo">Treasure<b style="color: darkorange;">Hunt</b></a>
		<ul >
      <li ><a href="#" id="line" style="margin-right: 150px;">LeaderBoard</a></li>
		</ul>
    </header>

    <section >
      <div class="title">
            <img src="https://www.worldhistory.org/img/r/p/500x600/1163.jpg?v=1604599213">
            <span style=" text-align: center; font-size: large;"> The people of Themyscira where Wonder Woman belongs are called _________
             </span>
          <form action="/user_response" onsubmit="return storeanswer()">
            <label for="answer">Answer:</label>
            <input type="text" id="answer" name="answer"><br><br>
            <input type="submit" value="Submit">
          </form>
        <br>
      </div>

  </section>



<script>

  window.addEventListener('scroll', function() {
  let header = document.querySelector('header');
  header.classList.toggle('sticky', window.scrollY < 0);
});

  function storeanswer() {
    // Check browser support
    if (typeof(Storage) !== "undefined") {
      // Store
      // retrieve try number
      var cur_clue = window.location.pathname.replace('/','')
      var value = localStorage.getItem(cur_clue)
      if (value==null) {
        value = {'max':0}
      }else {
        value = JSON.parse(value)
        value['max'] += 1
        value[value['max']] = document.getElementById('answer')
      }

      localStorage.setItem(cur_clue, JSON.stringify(value));
    } else {
      document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Storage...";
    }

  }

</script>

</body>
</html>
