{% include 'index.html' %}

<body onload="closePopup()">
  <div id="popup" class="uth-flare">
    <div class="uth-flare-shade" onclick="closePopup()"></div>
    <div class="uth-flare-box text-center align-middle">
      <span>Races of Themyscira</span>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="uth-text-header text-center" style="display: block;">Q9</div>
    </div>
    <div class="row justify-content-center">
      <div class="uth-text-sub-header text-center" style="display: block;">Guess the Company</div>
    </div>
    <div class="row questions-section">
      <div class="col-12 uth-text-strong text-center"> The people of Themyscira where Wonder Woman belongs are called _________ &nbsp; <span
          class="material-icons uth-hint" onclick="openPopup()">info</span></div>
    </div>

    <div class="row justify-content-center mb-2">
      <img src="https://i.pinimg.com/originals/9d/b7/39/9db7391ce6b183e707a6560523091887.png" class="img-fluid" style="width:350 !important;height:250 !important" />
    </div>

    <div>
      <div class="row justify-content-center">
        <div class="col-5">
          <input type="text" size="50" placeholder="Enter Answer" id='answer' name="answer" required>
        </div>
        <div class="col-1 d-flex justify-content-center">
          <button class="uth-btn-circle" onclick="storeanswer()">
            <span class="material-icons md-36 image-icon">arrow_forward</span>
          </button>
        </div>
      </div>
    </div>

    
  </div>

 

</body>

</html>