<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/styleHead.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/welcomestyle.css') }}">
  <title>TreasureHunt</b></title>
</head>
<body>
  <html lang="en">
<head>
  
</head>
<body>

  <header>
		<a href="/" class="logo">Treasure<b style="color: darkorange;">Hunt</b></a>
		<ul >
      <li ><a href="#" id="line" style="margin-right: 150px;">LeaderBoard</a></li>
		</ul>
    </header>

    <section >
      <div class="title">
        <a href="####" class="texts"><span style=" text-align: center; font-size: large;"> Click On the Link to go to Quiz </span></a>
        
       <br>
      </div>
      
  </section>



<script>
   
  window.addEventListener('scroll', function() {
  let header = document.querySelector('header');
  header.classList.toggle('sticky', window.scrollY < 0);
});

</script>

</body>
</html>
</body>
</html>