{% include 'index.html' %}

<body onload="closePopup()">
  <div id="popup" class="uth-flare">
    <div class="uth-flare-shade" onclick="closePopup()"></div>
    <div class="uth-flare-box text-center align-middle">
      <span>How about googling the keywords ?</span>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="uth-text-header text-center" style="display: block;">Q3</div>
    </div>
    <div class="row justify-content-center">
      <div class="uth-text-sub-header text-center" style="display: block;">Guess the Framework</div>
    </div>
    <div class="row questions-section">
      <div class="col-12 uth-text-strong text-center"> Listen up and beware because I am a web framework and I am
        Unchained &nbsp; <span class="material-icons uth-hint" onclick="openPopup()">info</span></div>
    </div>

    <div class="row justify-content-center mb-2">
      <img src="https://flxt.tmsimg.com/NowShowing/118951/118951_aa.jpg" class="img-fluid"
        style="width:250 !important;height:400 !important" />
    </div>

  </div>

  <div class="response"></div>

</body>
</html>