{% include 'index.html' %}

<body onload="closePopup()">
  <div id="popup" class="uth-flare">
    <div class="uth-flare-shade" onclick="closePopup()"></div>
    <div class="uth-flare-box text-center align-middle">
      <span>A famous software that started out with this place's name</span>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="uth-text-header text-center" style="display: block;">Q3 <span style="color:var(--bg1-dark);font-size: 20px;">http://localhost:5000/n</span><span style="color:var(--bg1-dark);font-size: 20px;">&#128142;</span></div>
    </div>
    <div class="row justify-content-center">
      <div class="uth-text-sub-header text-center" style="display: block;">Guess the Software</div>
    </div>
    <div class="row questions-section">
      <div class="col-12 uth-text-strong text-center">google + (49.4974° N, 6.4386° E) &nbsp; <span class="material-icons uth-hint" onclick="openPopup()">info</span></div>
    </div>
  </div>

  <div class="response"></div>

</body>

</html>