{% include 'index.html' %}

<body onload="closePopup()">
  <div id="popup" class="uth-flare">
    <div class="uth-flare-shade" onclick="closePopup()"></div>
    <div class="uth-flare-box text-center align-middle">
      <span>A famous software that started out with this place's name</span>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="uth-text-header text-center" style="display: block;">Q3 <span style="color:var(--bg1-dark);font-size: 20px;">http://localhost:5000/n</span><span style="color:var(--bg1-dark);font-size: 20px;">&#128142;</span></div>
    </div>
    <div class="row justify-content-center">
      <div class="uth-text-sub-header text-center" style="display: block;">Guess the Software</div>
    </div>
    <div class="row questions-section">
      <div class="col-12 uth-text-strong text-center">google + (49.4973781,6.4298272) &nbsp; <span class="material-icons uth-hint" onclick="openPopup()">info</span></div>
    </div>

    <form action="/user_response" onsubmit="return storeanswer()">
      <div class="row justify-content-center">
        <div class="col-5">
          <input type="text" size="50" placeholder="Enter Answer" id='answer' name="answer" required>
        </div>
        <div class="col-1 d-flex justify-content-center">
          <button class="uth-btn-circle" onclick="return storeanswer()">
            <span class="material-icons md-36 image-icon">arrow_forward</span>
          </button>
        </div>
      </div>
    </form>

  </div>




</body>

</html>