{% include 'index.html' %}

<body onload="closePopup()">
  <div id="popup" class="uth-flare">
    <div class="uth-flare-shade" onclick="closePopup()"></div>
    <div class="uth-flare-box text-center align-middle">
      <span>How about find the pattern ?</span>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="uth-text-header text-center" style="display: block;">Q7</div>
    </div>
    <div class="row justify-content-center">
      <div class="uth-text-sub-header text-center" style="display: block;">Guess the Software</div>
    </div>
    <div class="row questions-section">
      <div class="col-12 uth-text-strong text-center"> A->C, M->O, X->Z <br> Which software is mispelled as TYEPYLR
        &nbsp; <span class="material-icons uth-hint" onclick="openPopup()">info</span></div>
    </div>

  </div>

  <div class="response"></div>

</body>
</html>